---
layout: default
---
<section class="escuela-2018">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <br>
        <h2 class="text-center">Convocatoria cerrada</h2>
        <h4 class="text-center">Escuela de Incidencia Virtual para Nicaragua</h4>
        <!--
        <p class="highlight">Lanzamos una versión especial de nuestra Escuela de Incidencia dirigida a nicaragüenses en todo el mundo. Postula hasta el 25 de agosto.</p>
        <a href="https://files.ciudadaniai.org/index.php/apps/forms/form/p44AvfDkpTZDu3Tg" class="btn btn-primary" target="_blank" onclick="ga('send','event','virtual-nicaragua','click')">Postula aquí</a>
        -->
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-8">
        <p class="highlight">Si eres nicaragüense, sin importar dónde te encuentras, y estás desarrollando o buscas desarrollar un proyecto que responda a la grave crisis que enfrenta Nicaragua puedes postular a la Escuela de Incidencia de la Fundación Ciudadanía Inteligente. Si buscas herramientas para potenciar tu trabajo, postula a nuestro curso virtual hasta el domingo 25 de agosto.
      </div>
      <div class="col-md-3 text-center">
        <br>
        <p class="text-center highlight-2">Revisa nuestras<br>consideraciones de seguridad</p>
        <a href="{{ site.baseurl }}/consideraciones-seguridad.html" class="btn btn-danger" target="_blank" onclick="ga('send','event','consideraciones-seguridad','click')">Revisar condiciones</a>
      </div>

    </div>
  </div>
</section>
<section class="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>Preguntas frecuentes</h2>
        <div class="badge-yellow">Sobre la Escuela de Incidencia Virtual</div>
        {% include faq01.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-blue">Sobre quienes postulan</div>
        {% include faq02.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-yellow">Sobre el proceso de postulación</div>
        {% include faq03.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-blue">Sobre Ciudadanía Inteligente</div>
        {% include faq04.html %}
      </div>
      <div class="col-md-12">
        <br>
        <p class="highlight">
¿Tienes preguntas adicionales sobre la Escuela de Incidencia virtual Nicaragua 2019  o el proceso de postulación?
¡Mándanos un correo a <mark><a href="mailto:escuelavirtual@ciudadaniai.org" target="_top">escuelavirtual@ciudadaniai.org</a></mark> y te responderemos lo más pronto posible!



</p>
      </div>
    </div>
  </div>
</section>
