---
layout: default
---
<section class="escuela-2018">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <br>
        <h2 class="text-center">Escuela de Incidencia Virtual 2019</h2>
        <p class="highlight text-center">¿Te interesa combatir la violencia, la corrupción y los discurso de odio?<br>Te entregamos herramientas para hacerlo. Postula hasta el 24 de febrero.</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfKTj-jGgAchs0zDfFvIC1GqY1eWYSaCAP_cUY9RC6Gns-edg/viewform" class="btn btn-primary" target="_blank" onclick="ga('send','event','puerto-rico-solicita','click')">Postula aquí</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>Escuela de Incidencia Virtual 2019</h2>
      </div>
      <div class="col-md-6">
        ¿Te interesa combatir la violencia, la corrupción y los discurso de odio? Por primera vez, Fundación Ciudadanía Inteligente lleva su Escuela de Incidencia a toda América Latina a través del formato virtual. Si buscas herramientas para fortalecer tu trabajo de incidencia postula a la Escuela de Incidencia Virtual hasta el 24 de febrero. La convocatoria está abierta para agentes de cambio de toda la región, sin  importar su edad o lugar de residencia.
      </div>

    </div>
  </div>
</section>
<section class="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>Preguntas frecuentes</h2>
        <div class="badge-yellow">Sobre la Escuela de Incidencia Virtual</div>
        {% include faq01.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-blue">Sobre quienes postulan</div>
        {% include faq02.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-yellow">Sobre el proceso de postulación</div>
        {% include faq03.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-blue">Sobre Ciudadanía Inteligente</div>
        {% include faq04.html %}
      </div>
      <div class="col-md-12">
        <br>
        <p class="highlight">
¿Tienes preguntas adicionales sobre la Escuela de Incidencia virtual 2019  o el proceso de postulación?
¡Mándanos un correo a <mark><a href="mailto:escuelavirtual@ciudadaniai.org" target="_top">escuelavirtual@ciudadaniai.org</a></mark> y te responderemos lo más pronto posible!



</p>
      </div>
    </div>
  </div>
</section>
