<section class="countries">
  <div class="container">
    <div class="row">
      <div class="col-md-6 legend">
        <img src="/assets/img/bar.svg">
        <p class="highlight">Estos son los países donde hemos compartido nuestras herramientas</p>
        <ul class="list-unstyled">
          <li class="highlight"><i class="fa fa-circle fa-lg" aria-hidden="true" style="color:#D1FDFF;"></i> Escuela 2017 - Convocatoria cerrada</li>
          <li class="highlight"><i class="fa fa-circle fa-lg" aria-hidden="true" style="color:#66DEE3;"></i> Escuela 2018 - Convocatoria cerrada</li>
          <li class="highlight"><i class="fa fa-circle fa-lg" aria-hidden="true" style="color:#02A6AD;"></i> Escuela 2019 - Convocatoria cerrada</li>
          <li class="highlight"><i class="fa fa-circle fa-lg" aria-hidden="true" style="color:#F7BD3A;"></i> Escuela virtual 2019 - Convocatoria abierta</li>
        </ul>
      </div>
      <div class="col-md-6 justify-content-md-center">
        <img src="/assets/img/map2.svg" class="img-responsive">
      </div>
    </div>
  </div>
</section>
