<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading14">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse14" aria-expanded="true" aria-controls="collapse14">
          ¿Quiénes pueden postular?
        </a>
      </h5>
    </div>
    <div id="collapse14" class="collapse show" role="tabpanel" aria-labelledby="heading14" data-parent="#accordion">
      <div class="card-body">
        Buscamos a personas de nacionalidad nicaragüense de todas las edades que estén comprometidas con la reconstrucción de la democracia y la búsqueda del bien común en su país.

        No importa si actualmente vives en Nicaragua o en otra parte, sólo nos importa que actualmente estés realizando o busques realizar un proyecto que busque impactar en la situación que actualmente vive el país.  Este proyecto puede ser desarrollado tanto desde dentro de Nicaragua como desde el extranjero.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading15">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
          ¿Existe alguna restricción para postular?
        </a>
      </h5>
    </div>
    <div id="collapse15" class="collapse" role="tabpanel" aria-labelledby="heading15" data-parent="#accordion">
      <div class="card-body">
        Esta convocatoria es exclusiva para personas de nacionalidad nicaragüense, sin importar si actualmente viven o no en su país. Si eres una persona de otra nacionalidad no puedes postular.

        Adicionalmente, debes estar desarrollando o tener planeado desarrollar un proyecto traiga beneficios a Nicaragua, sin importar si lo realizarás desde el mismo país o el extranjero.

        Además, dado que este se trata de un curso on-line, es importante contar con una conexión a internet estable y de fácil acceso. Esto no significa que necesariamente se deba contar con conexión a internet desde el hogar, pero sí en un lugar cercano al que se pueda acceder frecuentemente y con facilidad.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading16">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse16" aria-expanded="false" aria-controls="collapse16">
          ¿En qué temas debo trabajar para postular a esta versión de la Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse16" class="collapse" role="tabpanel" aria-labelledby="heading16" data-parent="#accordion">
      <div class="card-body">
        Buscamos a personas que estén trabajando por la reconstrucción de la democracia en Nicaragua. Algunos de los temas dentro de los que puede inscribirse tu proyecto son los siguientes:
        <ul>
          <li>Defensa de Derechos Humanos</li>
          <li>Memoria</li>
          <li>Atención a víctimas (asesoría legal o psicológica, articulación y/o reunificación)</li>
          <li>Fortalecimiento institucional</li>
          <li>Combate a la corrupción</li>
          <li>Medios de comunicación alternativos, transparencia y/o libertad de expresión</li>
          <li>Ayuda humanitaria</li>
          <li>Apoyo y/o defensa de poblaciones vulnerables o minorizadas</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading17">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
          Si no tengo experiencia en la temática que me interesa, ¿puedo participar?
        </a>
      </h5>
    </div>
    <div id="collapse17" class="collapse" role="tabpanel" aria-labelledby="heading17" data-parent="#accordion">
      <div class="card-body">
        ¡Sí! Buscamos fortalecer el trabajo de cualquier persona comprometida con la reconstrucción de la democracia.

        De todas formas, esperamos que, aunque no lo hayas hecho en el pasado, actualmente sí estés trabajando en la temática.
      </div>
    </div>
  </div>
</div>
