<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading14">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse14" aria-expanded="true" aria-controls="collapse14">
          ¿Quiénes pueden postular?
        </a>
      </h5>
    </div>
    <div id="collapse14" class="collapse show" role="tabpanel" aria-labelledby="heading14" data-parent="#accordion">
      <div class="card-body">
        Buscamos a personas de todas las edades y lugares de residencia dentro de América Latina que busquen incidir en políticas públicas que permitan avanzar en las soluciones de tres de los desafíos actuales a nuestras democracias:  corrupción, violencia y discursos de odio.

        Estas personas deben tener un alto compromiso con la resolución de estas temáticas y con la promoción y el fortalecimiento de la democracia en  sus países de residencia y en la región.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading15">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
          ¿Existe alguna restricción para postular?
        </a>
      </h5>
    </div>
    <div id="collapse15" class="collapse" role="tabpanel" aria-labelledby="heading15" data-parent="#accordion">
      <div class="card-body">
        Pueden postular personas residentes en cualquier país de América Latina, sin importar su edad o lugar de residencia, con excepción  de aquellos países donde no se habla el idioma español o portugués.

        Las únicas restricciones son estar involucradx en alguna de las temáticas consideradas en esta convocatoria y tener experiencia trabajando en la resolución de las problemáticas vinculadas a ellas.

        Además, dado que este se trata de un curso on-line, es importante contar con una conexión a internet estable y de fácil acceso. Esto no significa que necesariamente se deba contar con conexión a internet desde el hogar, pero si en un lugar cercano al que se pueda acceder frecuentemente y con facilidad.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading16">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse16" aria-expanded="false" aria-controls="collapse16">
          ¿En qué temas debo trabajar para postular a esta versión de la Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse16" class="collapse" role="tabpanel" aria-labelledby="heading16" data-parent="#accordion">
      <div class="card-body">
        Los grandes temas considerados en esta versión de la Escuela de Incidencia Virtual son tres:
        <ul>
          <li>Corrupción</li>
          <li>Violencia</li>
          <li>Discursos de odio</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading17">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
          Si no tengo experiencia en la temática que me interesa, ¿puedo participar?
        </a>
      </h5>
    </div>
    <div id="collapse17" class="collapse" role="tabpanel" aria-labelledby="heading17" data-parent="#accordion">
      <div class="card-body">
        No. Buscamos fortalecer el trabajo de personas que actualmente se encuentran trabajando por la resolución de estas  problemáticas.
        No obstante, tener experiencia no significa necesariamente haber impulsado previamente procesos de incidencia en políticas públicas. Significa, en cambio, tener conocimiento sobre el tema y estar involucradx en procesos de cualquier tipo que busquen impactar en ellos.
      </div>
    </div>
  </div>
</div>
