<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading01">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse01" aria-expanded="true" aria-controls="collapse01">
          ¿Qué es la Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="heading01" data-parent="#accordion">
      <div class="card-body">
        La Escuela de Incidencia es un proyecto de formación de <mark><a href="//ciudadaniai.org" target="_blank">Fundación Ciudadanía Inteligente</a></mark> que busca fomentar el liderazgo colaborativo y participativo de nuevas generaciones, para lograr cambios sociales a través de procesos de incidencia en políticas públicas. Transferimos la metodología LabCívico a liderazgos emergentes para catalizar procesos de cambio social que unan a la sociedad civil, el gobierno y la academia tras un objetivo común
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading02">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse02" aria-expanded="false" aria-controls="collapse02">
          ¿Qué es la Escuela de Incidencia Virtual?
        </a>
      </h5>
    </div>
    <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="heading02" data-parent="#accordion">
      <div class="card-body">
        Es la versión e-learning de la Escuela de Incidencia. La Escuela de Incidencia Virtual aborda los mismos contenidos que su versión presencial, adaptados al formato de de un curso e-learning.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading03">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">
          ¿Qué es la metodología LabCívico?
        </a>
      </h5>
    </div>
    <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="heading03" data-parent="#accordion">
      <div class="card-body">
        LabCívico es una metodología de Fundación Ciudadanía Inteligente que permite elaborar estrategias colaborativas para incidir en políticas públicas y, de esta forma, alcanzar cambios sociales. Con esta metodología buscamos responder algunas interrogantes: ¿Cómo idear soluciones a problemas públicos desde la colaboración? ¿Cómo entender la problemática y el contexto que queremos transformar? ¿Cómo generar planes de trabajo colaborativos para incidir? Además, a través de talleres presenciales, con participación de agentes clave provenientes de una diversidad de sectores, se concretarán planes de incidencia con el uso de herramientas tecnológicas y comunicacionales. En este <mark><a href="https://youtu.be/n1hhNRMw-Bk" target="_blank">video</a></mark>video se explica el paso a paso de la metodología LabCívico.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading04">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">
          ¿Cuándo comienza y finaliza el curso?
        </a>
      </h5>
    </div>
    <div id="collapse04" class="collapse" role="tabpanel" aria-labelledby="heading04" data-parent="#accordion">
      <div class="card-body">
        La Escuela de Incidencia Virtual tiene una duración de cuatro semanas que comienzan el lunes 4 de marzo y finalizan el domingo 31 del mismo mes.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading05">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse05" aria-expanded="false" aria-controls="collapse05">
          ¿Cuánto tiempo tengo para completar el curso?
        </a>
      </h5>
    </div>
    <div id="collapse05" class="collapse" role="tabpanel" aria-labelledby="heading05" data-parent="#accordion">
      <div class="card-body">
        Debes completar el curso dentro de sus cuatro semanas de duración. Una vez llegada la fecha de cierre del curso (31 de marzo) las clases dejarán de estar disponibles.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading06">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse06" aria-expanded="false" aria-controls="collapse06">
          ¿Qué pasa si no logro completar el curso dentro del plazo estipulado?
        </a>
      </h5>
    </div>
    <div id="collapse06" class="collapse" role="tabpanel" aria-labelledby="heading06" data-parent="#accordion">
      <div class="card-body">
        Si no logras terminar todas las clases y tomar las pruebas del curso para el día 31 de marzo no podrás optar a la certificación ni completar las clases restantes luego de esa fecha. 
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading07">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse07" aria-expanded="false" aria-controls="collapse07">
          ¿El curso o la certificación tienen algún costo?
        </a>
      </h5>
    </div>
    <div id="collapse07" class="collapse" role="tabpanel" aria-labelledby="heading07" data-parent="#accordion">
      <div class="card-body">
        Tanto el curso como la certificación que te haremos llegar si cumples los requisitos son completamente gratis.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading08">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse08" aria-expanded="false" aria-controls="collapse08">
          ¿Cuáles son los requisitos para participar?
        </a>
      </h5>
    </div>
    <div id="collapse08" class="collapse" role="tabpanel" aria-labelledby="heading08" data-parent="#accordion">
      <div class="card-body">
        Para participar de la Escuela de Incidencia Virtual debes postular a través del formulario que encontrarás en la web de la Escuela de Incidencia. Quienes obtengan los mejores puntajes serán convocadxs a participar del curso.

        Adicionalmente, quienes deseen participar deben aceptar cumplir con nuestro protocolo de conducta. No aceptar el protocolo implica no poder participar de la Escuela.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading09">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse09" aria-expanded="false" aria-controls="collapse09">
          ¿Cuánto tiempo debo comprometer para participar en la Escuela de Incidencia Virtual?
        </a>
      </h5>
    </div>
    <div id="collapse09" class="collapse" role="tabpanel" aria-labelledby="heading09" data-parent="#accordion">
      <div class="card-body">
        Se espera un compromiso mínimo de 3 horas semanales por cuatro semanas para completar el curso. Luego,  las personas que completen el curso tendrán un plazo de cuatro meses para llevar a cabo su LabCívico.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading10">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
           ¿Qué certificados ofrece la Escuela de Incidencia Virtual?
        </a>
      </h5>
    </div>
    <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10" data-parent="#accordion">
      <div class="card-body">
        La Escuela de Incidencia Virtual ofrece dos certificados: de participación, que acredita la aprobación del curso y de facilitador o facilitadora, que acredita la capacidad de la persona certificada de replicar la metodología LabCívico
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading11">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
           ¿Cuáles son los requisitos para optar a la certificación?
        </a>
      </h5>
    </div>
    <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11" data-parent="#accordion">
      <div class="card-body">
        Para optar al certificado de participación debes aprobar las pruebas comprendidas en el curso, completar todas sus clases y realizar todas las actividades.

        Para optar al certificado de facilitador o facilitadora debes obtener el certificado de participación y, adicionalmente, debes acreditar que llevaste a cabo un LabCívico dentro de los cuatro meses posteriores a la realización del curso.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading12">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
           ¿Cómo se financia la Escuela de Incidencia Virtual?
        </a>
      </h5>
    </div>
    <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="heading12" data-parent="#accordion">
      <div class="card-body">
        Este proyecto es financiado por el <mark><a href="//www.idrc.ca/" target="_blank">Centro Internacional de Investigaciones para el Desarrollo - IDRC</a></mark>, una corporación dependiente del Estado de Canadá que financia investigaciones en países en desarrollo que promuevan el cambio social, el desarrollo económico y la superación de la pobreza.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading13">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
           ¿La Escuela de Incidencia se ha hecho antes?
        </a>
      </h5>
    </div>
    <div id="collapse13" class="collapse" role="tabpanel" aria-labelledby="heading13" data-parent="#accordion">
      <div class="card-body">
        Sí, la Escuela de Incidencia en su versión presencial se ha realizado en nueve países a lo largo de tres años. A la fecha, más de 100 personas se han certificado como facilitadores y facilitadores de LabCívico. Este año, se llevará a cabo por primera vez la versión virtual de la Escuela de Incidencia.

        No obstante, durante el año 2018 se realizó un piloto que contó con 60 participantes, que permitió perfeccionar la transferencia de contenidos para esta versión.
      </div>
    </div>
  </div>
</div>
