<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading18">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse18" aria-expanded="true" aria-controls="collapse18">
          ¿Cuándo inicia y cuándo termina el periodo de postulación a la Escuela de Incidencia Virtual?
        </a>
      </h5>
    </div>
    <div id="collapse18" class="collapse show" role="tabpanel" aria-labelledby="heading18" data-parent="#accordion">
      <div class="card-body">
        La convocatoria estará abierta desde el lunes 12 de agosto hasta el domingo 25 del mismo mes.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading19">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse19" aria-expanded="false" aria-controls="collapse19">
          ¿Cómo se postula a la Escuela de Incidencia Virtual?
        </a>
      </h5>
    </div>
    <div id="collapse19" class="collapse" role="tabpanel" aria-labelledby="heading19" data-parent="#accordion">
      <div class="card-body">
        Para postular debes completar el formulario que encontrarás en la web de la Escuela de Incidencia.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading20">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse20" aria-expanded="false" aria-controls="collapse20">
        ¿Puedo enviar materiales adicionales al formulario de solicitud?
      </h5>
    </div>
    <div id="collapse20" class="collapse" role="tabpanel" aria-labelledby="heading20" data-parent="#accordion">
      <div class="card-body">
        No, para seleccionar a las personas participantes sólo nos basaremos en las respuestas al formulario.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading21">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse21" aria-expanded="false" aria-controls="collapse21">
          No logré completar el formulario de postulación antes del cierre de la convocatoria ¿aún puedo mandar mi solicitud?
        </a>
      </h5>
    </div>
    <div id="collapse21" class="collapse" role="tabpanel" aria-labelledby="heading21" data-parent="#accordion">
      <div class="card-body">
        No, ¡lo sentimos! No se aceptarán solicitudes fuera de la fecha de convocatoria.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading22">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse22" aria-expanded="false" aria-controls="collapse22">
          Si no me seleccionan en esta ocasión, ¿puedo volver a solicitar a futuras convocatorias?
        </a>
      </h5>
    </div>
    <div id="collapse22" class="collapse" role="tabpanel" aria-labelledby="heading22" data-parent="#accordion">
      <div class="card-body">
        ¡Claro que sí! Siempre que cumplas con los requerimientos señalados en las bases de futuras convocatorias.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading23">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse23" aria-expanded="false" aria-controls="collapse23">
          ¿Cuándo notificarán los resultados de esta convocatoria?
        </a>
      </h5>
    </div>
    <div id="collapse23" class="collapse" role="tabpanel" aria-labelledby="heading23" data-parent="#accordion">
      <div class="card-body">
        Los resultados de la convocatoria serán enviados al correo electrónico que proporcionaste en el formulario el día lunes 26 de agosto de 2019. ``
      </div>
    </div>
  </div>
</div>
